.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a1a2f;
    color:#f5c518;
    /* background-color: linear-gradiant(90deg,#0a1a2f,#3d2c8d);
    color:#f5c518; */
    padding: auto;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    z-index: auto;
}
.logo img{
    width: 60px;
    height: auto;
    margin-left: 5px;
    padding: auto;
    border-radius: 90%;
}
.nav ul{
    list-style: none;
    display: flex;
    margin: 10px;
    padding: 10px;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(247, 244, 244);
    font-size: 25px;
    margin: 0 15px;
}
.nav ul li a:hover{
    color: white;
}

