.contact {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
h2 {
    color: #333;
    font-size: 28px;    
    margin-top: 100px;
    min-height: 10px;
    font-family: 'Arial', sans-serif;
    padding-right: 120px;

}
.contact p {
    color: #666;
    font-size: 14px;
    padding-right: 120px;
}
.contact form{
    max-width: 400px;
    margin:0 auto;
}
.contact input,
.contact textarea{
    width: 100%;
    border: 1px solid #ccc;
    padding:10px;
    border-radius: 8px;
    margin-bottom: 12px;
}
.contact button{
    background-color: #666;
    cursor: pointer;
    padding: 0;
    border-radius: 8px;
}
.contact button:hover{
    background-color: rgb(193, 204, 204);
}