.Fav{
    background-color: #bbb6b6b7;
    text-align: center;
    height: 550px;
    width:auto;
}
.Fav h1{
    color: #333;
    font-size: 28px;    
    margin-top: 100px;
    min-height: 10px;
    font-family: 'Arial', sans-serif;
    padding-right: 200px;
}
.Fav p{
      padding-right: 200px;
}