.banner{
    background-image: url(../images/visit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
    padding-top: 180px;
    text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.container > div {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
}

.container > div:hover {
  transform: scale(1.03);
}

.container img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

h1 {
  font-size: 30px;
  margin: 10px 0;
}

p {
  font-size: 14px;
  color: #666;
}

h3 {
  margin: 8px 0;
  color: #37156d;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: #444;
}