.search{
     text-align: center;  
}
form{
    height:380px;
   
}
.h2{
    color: #333;
    font-size: 28px;    
    margin-top: 100px;
    min-height: 10px;
    font-family: 'Arial', sans-serif;
    padding-right: 200px;
}
.search input,
.search textarea{
    width: 100%;
    border: 1px solid #ccc;
    padding:10px;
    border-radius: 8px;
    margin-bottom: 12px;
    text-align:left;
}

